div #menu {
    display: block;
    margin: auto;
    padding: 10px;
    width: 100%;
    margin-bottom: 100px;
    text-align: center;
}

div#menu > a.button {
    margin: 20px;
}

div#potence {
    display: block;
    margin: auto;
    padding: 10px;
    width: 100%;
    text-align: center;
}

div#potence > img{
    width: 250px;
    height: 400px;
}

div.letters {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
}

div.letters > img {
    width: 60px;
    height: 60px;
    padding: 2px;
}

div.letters > img.clicked {
    opacity: 0.5;
}

div.letters > img:hover {
    opacity: 0.5;
}